*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: #dfc2b2;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 4rem;
}

main section{
    display: flex;
    flex-direction: column;
    width: calc(50% - 8rem);
}

main section h1{
    font-family: "Calistoga", serif;
    font-size: 60px;
}

main section p{
    font-size: 30px;
    color: rgb(31, 30, 30);
}

main form{
    display: flex;
    flex-direction: column;
    width: calc(50% - 8rem);
    background-color: rgba(255, 255, 255, 0.61);
    padding: 2rem;
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.308) 0 2px 4px;
}

main form ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main form ul li input{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    line-height: 50px;
    width: 100%;
    height: 50px;
    border-radius: 0.5rem;
}

main form ul li input::placeholder{
    font-size: 20px;
    padding-left: 1rem;
}

#date{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#date label{
    width: 70%;
    font-size: 20px;
}

#date input{
    width: 100%;
    font-size: 20px;
}

#genero{
    display: flex;
}

#genero ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#genero ul li{
    display: flex;
    align-items: center;
    gap: .5rem;
}

#genero input{
    width: 25px;
}

#genero label{
    font-size: 20px;
}

.button-crear{
    background-color: #c20309;
    padding: 1rem;
    border-radius: 0.5rem;
}
.button-crear:hover{
    background-color: #970005;
    cursor: pointer;
}

button a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

@media (max-width: 1266px){
    #genero label{
        font-size: 18px;
    }
}

@media (max-width: 1204px){
    #genero label{
        font-size: 16px;
    }
}

@media (max-width: 1144px){
    main section h1{
        font-size: 50px;
    }

    #genero label{
        font-size: 15px;
    }
}

@media (max-width: 1111px){
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    main section{
        width: 80%;
        align-items: center;
    }

    main section p{
        text-align: center;
        font-size: 25px;
    }

    main form{
        width: 70%;
    }
}

@media (max-width: 566px){
    main{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    #genero input{
        width: 16px;
    }
    #genero label{
        font-size: 12px;
    }
}

@media (max-width: 483px){
    main section h1{
        font-size: 40px;
    }

    main section p{
        font-size: 20px;
    }
}